{% extends 'base.html' %}
{% load static %}
{% block title %}
Главная страница
{% endblock %}
{% block content %}
<h2>Категории</h2>
<div class="row row-cols-1 row-cols-md-6 g-4 mb-5">
  {% for category in categories %}
    <div class="col">
      <div class="card" style="border-radius: 100%;">
        <a href="{{category.get_link}}"> <img style="border-radius: 100%;" src="{{category.img.url}}" style="height: 100px; width: 100px; object-fit: cover;" class="card-img-top" alt="..."></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2 style="margin: 10px;">Последние товары</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for post in posts %}
    <div class="col">
      <div class="card">
        <img src="{{post.img.url}}" style="height: 200px; object-fit: cover;" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="{{post.get_link}}"><h5 class="card-title">{{post.title|slice:'0:50'}}</h5></a>
          <p>{{post.text|slice:'0:50'}}</p>
          <i class="fa fa-heart-o" aria-hidden="true" style="margin: 10px;"></i>
  <button class="btn btn-dark">Купить</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}